@CHARSET "ISO-8859-1";

table.panel{
	width:80%;
	height:30%;
	border-style:none;
}
tr.panel{
	border-style:none;
}
td.panel{
	text-align:center;
	border-style:none;
}
img.panel{
	width:128px;
	height:128px	
}
.icon-48-logo{
	background-image: url("../images/logo48.png");
}
.icon-32-import32{
	background-image: url("../images/import32.png");
}
.icon-32-export32{
	background-image: url("../images/export32.png");
}

