/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

@import url(../warp/css/system.css);
@import url(../warp/systems/joomla.1.5/css/system.css);
@import url(system-all.css);


/* Items (Addition)
----------------------------------------------------------------------------------------------------*/

#system .items .leading .item,
#system .item-list {
	background-image: url(../images/article.png);
	background-repeat: repeat-x;
}

#system .items .leading .item {
	padding-bottom: 12px;
	margin-bottom: 18px;
	background-position: 0 100%;
}


/* Item List
----------------------------------------------------------------------------------------------------*/

#system .item-list { background-position: 0 0; }


/* Search
----------------------------------------------------------------------------------------------------*/

#system span.highlight { background-color: #ffffaa; }